version: '3.8'

services:

  # --------------------------
  # API (Recommender Service)
  # --------------------------
  api:
    image: 211366704300.dkr.ecr.us-east-1.amazonaws.com/movie-recommender:latest
    container_name: movie-recommender
    restart: always
    ports:
      - "8080:8080"
    environment:
      # IAM Role handles auth, so we don't need Keys here if code uses boto3
      MODEL_REGISTRY: /models
      MODEL_NAME: ${MODEL_NAME:-ncf}
      ENVIRONMENT: production
    volumes:
      - model_registry:/models
      - data_volume:/app/data

  # --------------------------
  # Ingestor (Kafka Consumer)
  # --------------------------
  ingestor:
    image: 211366704300.dkr.ecr.us-east-1.amazonaws.com/movie-ingestor:latest
    container_name: movie-ingestor
    restart: always
    environment:
      KAFKA_BOOTSTRAP: ${KAFKA_BOOTSTRAP}
      KAFKA_API_KEY: ${KAFKA_API_KEY}
      KAFKA_API_SECRET: ${KAFKA_API_SECRET}
      USE_S3: "true"
      S3_BUCKET: "your-actual-s3-bucket-name-here" # <--- UPDATE THIS
      MODEL_REGISTRY: /models
    volumes:
      - data_volume:/app/data
      - model_registry:/models

  # --------------------------
  # Trainer
  # --------------------------
  trainer:
    image: 211366704300.dkr.ecr.us-east-1.amazonaws.com/movie-trainer:latest
    container_name: movie-trainer
    # Trainer exits after running, so we don't restart always
    environment:
      MODEL_REGISTRY: /models
    volumes:
      - data_volume:/app/data
      - model_registry:/models

  # --------------------------
  # Prometheus
  # --------------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      # We must copy these config files to EC2 in the CI/CD pipeline
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    restart: always

  # --------------------------
  # Grafana
  # --------------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
      # We must copy these config folders to EC2 in the CI/CD pipeline
      - ./grafana/provisioning:/etc/grafana/provisioning
    restart: always

# Use Named Volumes for data persistence on EC2
volumes:
  model_registry:
  data_volume:
  prometheus_data:
  grafana_data:

networks:
  default:
    name: movie-net