fastapi
uvicorn
prometheus-client
pydantic
pandas
pyarrow
confluent-kafka
attrs
authlib
python-dotenv
scikit-learn
numpy
pytest
fastavro
scipy
implicit
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
tabulate
pytest-cov
requests
matplotlib
psutil
boto3
httpx