fastapi
uvicorn
prometheus-client
pydantic
pandas
pyarrow
confluent-kafka
python-dotenv
scikit-learn
numpy
pytest
fastavro
scipy
implicit
torch==2.4.0
tabulate
pytest-cov
requests
matplotlib
psutil
boto3